:root {
    --icon-size: 32px;
}

body {
    color: #EBEBD3;
    background-color: #030A27;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 0.9em;
    margin: 0px;
}

h1 {
    color: #FFC145;
    font-weight: lighter;
    margin: 10px auto;
    font-size: 1.4em;
}

h2 {
    margin: 10px auto;
    font-weight: lighter;
    font-size: 1.8em;
    line-height: 1.8em;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
    font-size: 1.0em;
}

a {
    color: #FFC145;
    text-decoration: none;
}

.left {
    background: url('assets/profile.jpg');
    background-size: 120% auto;
    background-repeat: no-repeat;
    background-position: 50% 90%;
    width: 100%;
    height: 36%;
    float: left;
}

.right {
    width: 100%;
    height: 64%;
    float: left;
}

.inner {
    margin: 10% auto;
    width: 75%;
}

.links {
    margin-top: 5vh;
    width: 100%;
    text-align: center;
}

.info {
    margin-top: 4vh;
    font-size: 1.2em;
}

.link {
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    margin: calc(var(--icon-size) / 3);
}

@media only screen and (min-width: 380px) {
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 2.2em;
    }
}

@media only screen and (min-width: 440px) {
    .left {
        height: 46%;
        background-position: center top;
    }
}

@media only screen and (min-width: 550px) {
    body {
        overflow: hidden;
    }
    h1 {
        font-size: 1.4em;
    }
    h2 {
        font-size: 1.8em;
        line-height: 1.2em;
    }
    .inner {
        margin: 10vh auto;
    }
    .info {
        margin: 10vh auto;
        text-align: center;
    }
    .links {
        margin-top: 5vh;
    }
    .link {
        margin: 5px;
    }
    :root {
        --icon-size: 28px;
    }
    .left {
        width: 50%;
        height: 100%;
        background-size: auto 100%;
        background-position: center;
    }
    .right {
        width: 50%;
        height: 100%;
    }
}

@media only screen and (min-width: 768px) {
    :root {
        --icon-size: 32px;
    }
    .inner {
        margin: 30vh auto;
    }
    .info {
        margin: 7vh auto;
        text-align: center;
    }
    .links {
        margin-top: 7vh;
    }
    .link {
        margin: calc(var(--icon-size) / 3);
    }
}

@media only screen and (min-width: 980px) {
    :root {
        --icon-size: 44px;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        margin: 5vh auto;
        font-size: 2.9em;
        line-height: 1.8em;
    }
    .info {
        margin-top: 10vh;
        font-size: 1.6em;
    }
}

@media only screen and (min-height: 768px) and (min-width: 550px) {
    .inner {
        margin: 20vh auto;
    }
    h2 {
        font-size: 2.2em;
    }
}

@media only screen and (min-width: 1180px) {
    h1 {
        font-size: 2.8em;
    }
    h2 {
        font-size: 2.8em;
        line-height: 1.6em;
    }
    .inner {
        margin: 20vh auto;
    }
    .info {
        font-size: 1.4em;
        margin-top: 0;
    }
}

@media only screen and (min-width: 1240px) {
    h1 {
        font-size: 4.0em;
    }
    .inner {
        margin: 20vh auto;
    }
    .info {
        margin-top: 5vh;
        font-size: 1.8em;
    }
    .links {
        margin-top: 15vh;
    }
}

@media only screen and (min-width: 1600px) {
    h2 {
        font-size: 3.6em;
    }
    .inner {
        margin: 20vh auto;
        width: 65%;
    }
    .info {
        margin-top: 5vh;
        font-size: 1.8em;
    }
    .links {
        margin-top: 15vh;
    }
}

.medium {
    background-image: url('assets/medium-1.png');
    background-size: var(--icon-size) var(--icon-size);
}

.medium:hover, .facebook:hover, .github:hover, .photos:hover {
    filter: brightness(70%);
}

.facebook {
    background-image: url('assets/facebook-1.png');
    background-size: var(--icon-size) var(--icon-size);
    background-repeat: no-repeat;
}

.github {
    background-image: url('assets/github-1.png');
    background-size: var(--icon-size) var(--icon-size);
    background-repeat: no-repeat;
}

.photos {
    background-image: url('assets/google-photos-1.png');
    background-size: var(--icon-size) var(--icon-size);
    background-repeat: no-repeat;
}