:root {
    --icon-size: 32px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    overflow: hidden;
}

h1 {
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-size: 2.6em;
}

h2 {
    font-family: 'Monserrat', sans-serif;
    font-weight: lighter;
    font-size: 1.4em;
    line-height: 1.6em;
}

a {
    color: #323648;
    text-decoration: none;
}

.left {
    background: url('assets/profile.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #323648;
    width: 100%;
    height: 36%;
    float: left;
}

.right {
    width: 100%;
    height: 64%;
    background-color: #1DE9B6;
    float: left;
}

.inner {
    margin: 8vh auto;
    width: 65%;
}

.links {
    margin-top: 5vh;
    width: 100%;
    text-align: center;
}

.link {
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    margin: calc(var(--icon-size) / 3);
}

@media only screen and (min-width: 380px) {
    h1 {
        font-size: 3.0em;
    }
}

@media only screen and (min-width: 440px) {
    .left {
        height: 46%;
        background-position: center top;
    }
}

@media only screen and (min-width: 550px) {
     :root {
        --icon-size: 28px;
    }
    h1 {
        font-size: 2.4em;
    }
    h2 {
        font-size: 1.6em;
        line-height: 1.4em;
    }
    .left {
        width: 50%;
        height: 100%;
        background-size: auto 100%;
        background-position: center;
    }
    .right {
        width: 50%;
        height: 100%;
    }
    .inner {
        margin: 25vh auto;
    }
    .links {
        margin-top: 10vh;
    }
}

@media only screen and (min-width: 768px) {
     :root {
        --icon-size: 32px;
    }
    h1 {
        font-size: 3.0em;
    }
    h2 {
        font-size: 1.8em;
        line-height: 1.5em;
    }
}

@media only screen and (min-width: 980px) {
     :root {
        --icon-size: 44px;
    }
    h1 {
        font-size: 4.0em;
    }
}

@media only screen and (min-width: 1180px) {
    h1 {
        font-size: 4.4em;
    }
}

@media only screen and (min-width: 1240px) {
    h1 {
        font-size: 5.0em;
    }
    h2 {
        font-size: 2.0em;
        line-height: 1.6em;
    }
}

.teal {
    color: #00796B;
}

.smooth {
    color: #323648;
}

.grey {
    color: #5b5e6d;
}

.medium {
    background-image: url('assets/medium.png');
    background-size: var(--icon-size) var(--icon-size);
}

.medium:hover, .facebook:hover, .github:hover, .photos:hover {
    filter: brightness(70%);
}

.facebook {
    background-image: url('assets/facebook.png');
    background-size: var(--icon-size) var(--icon-size);
}

.github {
    background-image: url('assets/github.png');
    background-size: var(--icon-size) var(--icon-size);
}

.photos {
    background-image: url('assets/google-photos.png');
    background-size: var(--icon-size) var(--icon-size);
}
