:root {
    --icon-size: 28px;
}

body {
    color: #EBEBD3;
    background-color: #000c2f;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

h1 {
    color: #FFC145;
    font-weight: 300;
    font-size: 1.4em;
}

h2 {
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.4em;
}

a {
    color: #FFC145;
    text-decoration: none;
}

.left {
    background: url('assets/profile-1.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    width: 100%;
    height: 36%;
    float: left;
}

.right {
    width: 100%;
    height: 64%;
    float: left;
}

.inner {
    margin: 10% auto;
    width: 80%;
}

.info {
    margin-top: 5vh;
    text-align: center;
    font-size: 1.0em;
}

.links {
    margin-top: 5vh;
    width: 100%;
    text-align: center;
}

.link {
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    margin: calc(var(--icon-size) / 3);
}

@media only screen and (min-width: 375px) {
    h2 {
        line-height: 1.5em;
    }
    .inner {
        margin: 12% auto;
        width: 80%;
    }
    .info {
        margin-top: 7vh;
    }
    .links {
        margin-top: 7vh;
    }
}

@media only screen and (min-width: 414px) {
    h1 {
        font-size: 1.6em;
    }
    h2 {
        font-size: 1.8em;
    }
    .info {
        margin-top: 5vh;
        font-size: 1.2em;
    }
    .links {
        margin-top: 5vh;
    }
    .left {
        background-size: 100% auto;
    }
}

@media only screen and (min-width: 520px) {
    .inner {
        width: 65%;
    }
}

@media only screen and (min-width: 550px) {
    body {
        overflow: hidden;
    }
    h1 {
        font-size: 1.4em;
        margin: 40px auto;
    }
    h2 {
        font-size: 1.4em;
        line-height: 1.6em;
    }
    .left {
        width: 50%;
        height: 100%;
        background-size: auto 100%;
        background-position: center;
    }
    .right {
        width: 50%;
        height: 100%;
    }
    .info {
        font-size: 1.0em;
        margin: 10vh auto;
    }
    .inner {
        width: 80%;
        margin: 20vh auto;
    }
    .links {
        margin-top: 5vh;
    }
}

@media only screen and (min-width: 768px) {
    .inner {
        margin: 25vh auto;
    }
    .info {
        margin: 7vh auto;
    }
    .links {
        margin-top: 7vh;
    }
    :root {
        --icon-size: 32px;
    }
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
    .inner {
        margin: 35vh auto;
    }
    .info {
        margin: 7vh auto;
    }
    .links {
        margin-top: 7vh;
    }
    :root {
        --icon-size: 32px;
    }
}

@media only screen and (min-width: 1112px) {
    h1 {
        font-size: 1.7em;
        margin: 1.0em auto;
    }
    h2 {
        font-size: 2.2em;
        margin: 1.0em auto;
    }
    .inner {
        margin: 32vh auto;
        width: 75%;
    }
    .info {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1600px) {
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 2.6em;
        margin: 1.4em auto;
    }
    .inner {
        margin: 26vh auto;
        width: 65%;
    }
    .info {
        margin-top: 10vh;
        font-size: 1.4em;
    }
    .links {
        margin-top: 5vh;
    }
    :root {
        --icon-size: 42px;
    }
}

.facebook:hover, .github:hover, .email:hover {
    filter: brightness(70%);
}

.facebook {
    background-image: url('assets/facebook-1.png');
    background-size: var(--icon-size) var(--icon-size);
    background-repeat: no-repeat;
}

.github {
    background-image: url('assets/github-1.png');
    background-size: var(--icon-size) var(--icon-size);
    background-repeat: no-repeat;
}

.email {
    background-image: url('assets/email-1.png');
    background-size: var(--icon-size) var(--icon-size);
}